@media screen and (max-width: 1700px) {
  .hero-parallax{
    .parallax-item{
      &:nth-of-type(2){
        left: -20px;
      }
      &:nth-of-type(4){
        top: -30px;
        left: -15px;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .hero{
   &-media{
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     img{
       width: 100%;
     }
   }
    &-desc{
      padding-left: 30px;
    }
    &-wrap{
      &:before{
        max-height: 490px;
      }
    }
    &-title{
      font-size: 52px;
    }
    &-subtitle{
      font-size: 38px;
    }
  }
}
@media screen and (max-width: 1380px) {
  .info,
  .banner{
    .container{
      padding-left: 30px;
      padding-right: 30px;
      &:after{
        width: calc(100% - 30px);
        left: 15px;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .hero-desc{
    padding-bottom: 20px;
  }
  .hero-items{
    padding: 10px 0;
    transform: translate(0,0);
  }
  .hero-parallax{
    .parallax-item{
      &:nth-of-type(2) {
        top: calc(100% - 135px);
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .header-nav{
    display: none;
  }
  .header-button{
    display: none;
  }
  .header-btn{
    display: block;
  }
  .footer-address{
    max-width: 180px;
  }
  .hero{
    &-wrap{
      &:before{
        max-height: 100%;
      }
    }
    &-desc{
      width: 100%;
      padding: 60px 15px 20px;
    }
    &-media{
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }
    &-items{
      flex-wrap: wrap;
      transform: translate(0, -58px);
      margin: 0 -5px;
    }
    &-item{
      width: calc(33.333% - 10px);
      margin: 0 5px 10px;
    }
    &-parallax{
      .parallax-item{
        transform: scale(.8);
        &:nth-of-type(4){
          top: -70px;
          left: auto;
          right: 20px;
        }
        &:nth-of-type(3){
          top: 170px;
          left: auto;
          right: -50px;
        }
        &:nth-of-type(2){
          top: calc(100% - 435px);
          left: -40px;
        }
        &:nth-of-type(1){
          top: calc(100% - 300px);
        }
      }
    }
  }

  .investment-item {
    width: calc(50% - 30px);
    margin: 0px 15px 40px;
  }
}
@media screen and (max-width: 768px) {

  .footer-address{
    max-width: 180px;
  }
  .hero{
    &-item{
      width: calc(50% - 10px);
    }
  }
  .investment-item {
    width: calc(100% - 30px);
    margin: 0px 15px 40px;
  }
}